
body {
    background: #a4ddf8;
    font-family: "Poppins", sans-serif;
    color: white;
  }


.box1{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 3em;
}
.box2{
    display: inline-block; /*  */
   font-size: 14px; /*Se establece el tamaño de la fuente*/
   cursor: pointer; /*  */
   text-align: center; /*  */
   outline: none; /*  */
    border-radius: 15px;/*Cambia las esquinas rodondeandolo*/
   margin-right: 15px; /*separar los botones*/
  
}
a{
    color: white;
}
.box2 {
    background: linear-gradient(45deg, #85a2ff, #5c8dff);
    margin: 15px;
    padding: 22px;
    width: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    position: relative;
    overflow: hidden;

}