* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E5E7E9;
    }
    body {
        font-family: "Poppins", sans-serif;
        }
        a{
            padding-right: 20px;
        }