th, td{
  
    padding: 10px 15px 8px 15px;
    text-align: center;
}
table{
    border-collapse: collapse;
    
}
.table-box{
    display: flex;
    justify-content: center;
 
}
.dc-color{
    background-color: darkcyan;
    border-top-left-radius:  20px;
    color: white;
} 
*{
    font-family: tahoma, sans-serif;
}