.toggle {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
 
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transition: 0.4s;
    border-radius: 100%;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 100%;
  }
  
  input:checked + .slider {
    background-color:#2ECC71;
  }

  
  input:checked + .slider:before {
    transform: translateX(35px);

  }

  .box1{
    margin: 10px; 
  }